
.slide-container{
    display: flex;
}
.slide-indicators {
    margin: 0;
    display: flex;
position: static;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3vh 0;
    padding-top: 7VH;
    margin-left: 10vw;
    width: 10vw;
    height: fit-content;
}

.slide-indicators [data-bs-target] {
    width: 80px;
    height: 80px;
    background:none;
    font-family: Bellefair;
font-size: 32px;

line-height: 37px;

text-align: center;

    color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50%;
    margin: 3vh 1vw 3vh 0;
    text-indent: 0px;

}

.slide-indicators .active {
    width: px;
    height: 80px;
    background-color: #fff;
    color: var(--color-dark);
    border: 1px solid rgb(255, 255, 255);
}

[data-bs-target]:hover {
    width: 79px;
    height: 79px;
    border: 2px solid rgb(255, 255, 255);
}

.content-crew {
   
  
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.subheading-one {
    margin: 5vh 0 5vh 10vw;
    /* margin: 0 auto 20vh 0; */
}
.content{
    align-self: flex-start;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
h5{
    /* padding: 2vh 0; */
}
h3{
    padding: 4vh 0;
}
.body-text{
    width: 28vw;
}
.content-two{
    /* width: 55vh; */
    margin-top: 7vh;
    height: 65vh;
    margin-left: 5vw;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.content-crew img {
   position: relative;
   margin-bottom: 10vh;
   bottom: 3vh;
    height: 70vh;
    
}