
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
    --color-dark : #0b0d17;
    --color-medium : #d0d6f9;
    --color-light : #ffffff;
}
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

