@media (max-width:375px){
    body {
        background-image: url("assets/home/background-home-mobile.jpg");
        height: fit-content;
        overflow-x: hidden;
        

    }
    .destination-body{
        overflow-x: hidden;
        background-image: url("assets/destination/background-destination-mobile.jpg");
    }
    .crew-body{
        background-image: url("assets/crew/background-crew-mobile.jpg");
        /* flex-direction: column-reverse; */
    }
    .nav-text a {
        font-size: 6vw;
        padding: 1vh;
        padding-left: 0;
        
      }
/* main */
    .index-content-left{
        /* height: auto; */
        padding-bottom: 1vh;
    }
    .heading-two{
        font-size: 15vw;
    }
    .btn-explore{
        height: 30vh;
    }
     /* font-size */
     .heading-four {
        font-size: 5vw;
    }

    .heading-five,
    .subheading-one,
    .subheading-two {
        font-size: 2.25vw;

    }

    .index-content-left h4 {
        font-size: 4vw;
        padding-top: 2vh;
    }

    .heading-one {
        padding-top: 2vh;
        font-size: 25vw;
    }

    .body-text {
     
        font-size: 3vw;
        line-height: 20px;
    }
    .index-content-left .body-text{
        line-height: 19px;
    }
    /* destinatoion */
    .main-page-content .sub-nav a{
        font-size: 4vw;
        padding: 1vw;
    margin: 0;
    
      }
      .main-page-content .nav-text {
        margin: 1vw 2.3vw;
      }
      .main-page-content img{
        width: 70vw;
        height: 70vw;
      }
    .main-page-content .subheading-one{
        font-size: 6vw;
        text-align: center;
}
/* .crew-body */
.content-crew{
    flex-direction: column-reverse;
}
.content-crew img{
    margin-top: 0px;
    height: 300px;
    border-bottom: 1px solid var(--color-dark);
}
.slide-indicators{
    top:0rem
}
.content-crew  h3 {
    padding-bottom: 1vw;
    /* font-size: 10vw; */
    }
}
.content-crew .subheading-one{
    text-align: center;
    align-self: center;
    
}
.content{
    padding-top: 15px;
    width: 80vw;
}