body{
    background-image: url("assets/home/background-home-desktop.jpg");
  overflow-x: hidden;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  
}

.destination-body{
    padding-bottom: 10vh;
    background-image: url("assets/destination/background-destination-desktop.jpg");
}
.crew-body{
    background-image: url("assets/crew/background-crew-desktop.jpg");
}
/* navbar */
.nav{
    padding-top: 35px;
    height: 120px;
    padding-right: 7.321vw;
    /* background-color: antiquewhite; */
}


.container-fluid{
    position: relative;
    padding-left: 4%;
    margin-right: 2%;
    padding-right: 0;
height:80px;

}
.rectangle-one{
    top: 74px;
    left: 10vw;
    position: absolute;
    width: 31.7vw;
    z-index: +1;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.rectangle-two{
    height: 80px;
   width: 65.886vw;
    position: absolute;
    left:40vw;
    top:35px;
    background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(15px);
}

/* contwnt */
.main-page-content{
 min-height: 85vh;
}
.btn-explore{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 15vw;
    margin: 0 4vw 150px 0;
    top: 17vh;
}
.explore{
    /* margin: auto 0 0 auto; */
    justify-content: center;
    border: none;
    align-items: center;
    display: flex;
    text-align: center;
    color: var(--color-dark);
    border-radius: 50%;
    background-color: white;
    height: 18vw;
    width: 18vw;
    
    transition: all 2s ease;
}
.explore-hover{
    
    justify-content: center;
    border: none;
    align-items: center;
    display: flex;
    
    
    border-radius: 50%;
    background-color:#ffffff44;
  
    /* z-index: -1; */
    height: 18vw;
    width: 18vw;
    transition: all 1s ease;
}
.explore-hover:hover{
    height: 25vw;
    width: 25vw;
}
.index-content-left{
    width: 570px;
    position: relative;
    margin-bottom: 150px;
    left: 8vw;
    top:22vh;
    

}
.index-content-left h4{
    font-size: 28px;
}
.index-content-left p{

}